<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Button - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link rel="stylesheet" href="css/slider_css.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="scripts/player_control.js"></script>

</head>
<body>

<div id="file_app">
    <div class="widget">
        <h1>Score Control Buttons</h1>
        <button v-on:click="showFiles">Show Files</button>
    </div>
    </br></br></br>

    <p>Files:</p>
    <div>
        <div v-for="file in fileInfo.files" :class="{ selectedItem: isSelected(file) }" @click="selectFile(file)" @dblClick="openFile(file)">
            {{file}}
        </div>
    </div>
    <br><br>
    <div v-if="fileInfo && fileInfo.loadedSequence">
        <div>
            Ticks: {{fileInfo.loadedSequence.tickLength}}
        </div>
        <div>
            Time: {{fileInfo.loadedSequence.microsecondLength}}
        </div>
        <div>
            Tracks: {{fileInfo.loadedSequence.trackCount}}
        </div>
    </div>
</div>


<br><br>
</body>
</html>