<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>jQuery UI Button - Default functionality</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">    
        <link rel="stylesheet" href="css/slider_css.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
        <script src="scripts/canvas_control.js"></script>
    </head>
    
    <style>
        div{
            padding: 10 10 10 10;
        }
        canvas{
            border:1px solid #000000;
        }
    </style>
    
    <div id="canvas_control_app">
        <div>{{message}}</div>
        <div>
            Bars To Display: <input v-model.number="barsToDisplay" type="number" />
        </div>
        <div>
            Start Bar: <input v-model.number="startBar" type="number" />
        </div>
        <div>
            Ticks Per Bar: <input v-model.number="ticksPerBar" type="number" />
        </div>
        <div>
            <button v-on:click="getSequenceInfo">Display Sequence</button>
        </div>
        <br><br>
        <div v-if="fileInfo && fileInfo.loadedSequence">
            <!--
            <div>
                Ticks: {{fileInfo.loadedSequence.tickLength}}
            </div>
            <div>
                Ticks[0]: {{fileInfo.loadedSequence.tickLength}}
            </div>
            <div>
                Time: {{fileInfo.loadedSequence.microsecondLength}}
            </div>
            <div>
                Tracks: {{fileInfo.loadedSequence.trackCount}}
            </div>
            -->
            <canvas id="canvas1" width="1200" height="30"></canvas><br>
            <!-- fileInfo.loadedSequence.trackInfo[0].events[0].message -->
            <!--
            <span>Event Count: {{ti.eventCount}}</span>
            <span>Ticks: {{ti.ticks}}</span>
            -->
            <!-- div v-for="ev in ti.events">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ev}}</span>
            </div -->
            <track_display v-for="ti in fileInfo.loadedSequence.trackInfo" :track="ti" :start="startBar" :bars="barsToDisplay" :ticks="ticksPerBar"/>
        </div>
        <br><br>
    </div>

</html>